global.watchDir = 'YOUR PATH HERE';

global.dbConfig = {
	host: 'localhost',
	user: '',
	password: '',
	database: 'eventLogs'
};

global.maxConnections = 5; //how many connections to create for the pool